@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset (Reinicia los estilos por defecto del navegador) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid crimson; */
}
/* Custom properties (Variables globales a toda la hoja de estilos) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties */
:root {
  --ciento-por-ciento: 100%;
  --color-fondo-base: #eee;
  --tamanio-base: 2em;
  --rosa-clarito: #e4a8b2;
}

/* etiqueta */
html {
  font-size: var(--ciento-por-ciento); /* 16px */
}

body {
  background-color: var(--color-fondo-base, red); /* var(varible, fallback) */
}
/* desktop first */
/* .contenedor {
  display: grid;
  margin: 1rem;
  background-color: #ffeadd;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "cabecera cabecera cabecera cabecera"
    "principal principal principal lateral"
    "principal principal principal lateral"
    "principal principal principal lateral"
    "pie pie pie pie";
} */

/* celular */
/* @media (max-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cabecera"
      "principal"
      "principal"
      "principal"
      "pie";
  }

  .elm3 {
    display: none;
  }
} */

/* mobile first ------------------------------ */
.contenedor {
  display: grid;
  margin: 1rem;
  background-color: #ffeadd;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "cabecera"
    "principal"
    "principal"
    "principal"
    "pie";
}

.elm3 {
  display: none;
}

@media (min-width: 600px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "principal principal principal lateral"
      "principal principal principal lateral"
      "principal principal principal lateral"
      "pie pie pie pie";
  }
  .elm3 {
    display: block;
  }
}

/* Definiendo ÁREAS */
.elm1 {
  /* header */
  background-color: darkorchid;
  grid-area: cabecera;
}

.elm2 {
  /* main */
  background-color: darkorange;
  grid-area: principal;
}

.elm3 {
  /* aside */
  background-color: darkkhaki;
  grid-area: lateral;
}

.elm4 {
  /* footer */
  background-color: darksalmon;
  grid-area: pie;
}

@media (min-width: 900px) {
  .elm1 {
    background-color: blue;
  }
}

/* https://css-tricks.com/almanac/properties/g/grid-template-areas/ */
/* https://cssgrid-generator.netlify.app/ */
/* https://www.smashingmagazine.com/understanding-css-grid-template-areas/ */

/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout */
/* https://caniuse.com/?search=grid */
/* https://www.mozilla.org/en-US/firefox/developer/ */

/* https://gridbyexample.com/examples/ */
/* https://cssgridgarden.com/#es */
/* https://codingfantasy.com/games/css-grid-attack/play */
/* https://daily-dev-tips.com/posts/10-amazing-games-to-learn-css/ */
/* https://dev.to/nechir/7-best-places-to-learn-and-practice-css-grid-layout-45if */
