/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

/* https://cssreference.io/ */
/* https://htmlreference.io/ */

.contenedor {
  background-color: slateblue;
  height: 640px;
  width: 90%; /* 90% del body */
  margin: 48px auto;
  outline: 8px solid black;
}

.elemento1 {
  background-color: lightcoral; /* valor inicial */
  width: 160px; /* valor inicial */
  height: 160px;
  color: #eee;
  padding: 8px;
  border: 0.25rem solid darkblue; /* valor inicial */
  /* display: none; */ /* valor inicial */

  /* !IMPORTANTE: transition va sobre el elemento */
  transition-duration: 3s;
  /* transition-timing-function: linear;  */ /* defecto-evitamos */
  /* transition-timing-function: *ease *ease-in-out ease-in ease-out; */
  transition-timing-function: cubic-bezier(
    0.9,
    -0.33,
    0.17,
    1.32
  ); /* recomedable */
  transition-delay: 0s;
  transition-property: display, width, background-color; /* Evitar el (all) */
  transition-behavior: normal; /* default -> normal */

  /* ! shorthand */ /* las propiedades duration y delay necesitan la unidad (segundos -> s) */
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transtion-behavior] [transition-delay];
  */

  /* transition:
    width 2s ease-in-out normal 0s,
    background-color 10s ease-in-out normal 5s; */
}

/* 1000ms -> 1seg | 60seg -> 1min */
/* transition-behavior -> propiedades que antes no podía animarse ahora si pueden (display|visibility) */
/* normal -> Valor por defecto -> las propiedades display y visibility siguen sin poder transicionarse */
/* allow-discrete -> permite transicionar las propiedades que no se podían transicionar. */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition-behavior */
/* https://m3.material.io/foundations */
/* https://github.com/material-components */

.contenedor:hover .elemento1 {
  width: 320px; /* valor final */
  background-color: darkred; /* valor final */
  /*  display: block; */ /* valor final */
}

/* 

Las transiciones/animaciones requiren de recursos del sistema.
Hay que cuidar los recursos del sistema se debe conocer el proceso de renderizado que hacen los navegador.
Usar (transform y opacity) Ocupan muchos menos recursos

PROCESO DE RENDERIZADO (BROWSER)

1. JavaScript/CSS
2. LAYOUT
3. PAINT
4. COMPOSITE

4. COMPOSITE -> Se encarga de dar el orden adecuado a las capas del navegador, hace referencia a elementos que no necesitan de layout o paint. (Transformaciones)

* Da el orden a las capas en el navegador
* Combina y dibuja las capas en pantalla

Si se modifica una propiedad en la que no requiere (layout) ni pintura (paint), el navegador la omite y continua la composición. Esta versión final es la más economica y la ideal para puntos de presion de alto ciclo de la aplicación.

3. PAINT -> La pintura es el proceso de rellenar los pixeles. Esto implica dibujar textos, colores, imagenes, bordes y sombras. Basicamente todas las partes visuales de los elementos

Si cambiamos una propiedad de PAINT, como una imagen de fondo, color de texto o sombras (es, una que no afecta el diseño (layout) de la página) el nevegador omite el diseño pero realiza la printura de todos modos.

2. LAYOUT -> Es el proceso a través del cual el navegador decifra la informacion geometrica de los elementos, su tamaño y ubicación en la página. El width, height

Si modifico una propiedad del 'layout', dicha propiedad la geometria de un elemento (como su ancho, la altura o su posicion en x o y). El navegador debera verificar todos los otros elementos y 'redistribuirlos' en la página. Las afectatadas se deberan volver a pintar, y los elementos pintados finales deberan volver a componer el conjuntos.

1. JavaScript/CSS

/* 
* Procurar propiedades que solo actuen o modifiquen composite
* Evitar usar animaciones simultaneas
* Procuerar el uso Transform y Opacity
*/

/* https://developer.mozilla.org/es/docs/Web/Performance */
/* https://web.dev/articles/rendering-performance?hl=es-419 */
/* https://web.dev/articles/simplify-paint-complexity-and-reduce-paint-areas?hl=es-419 */
/* https://mdbootstrap.com/docs/standard/content-styles/animations/ */
/* https://animate.style/ */
/* https://michalsnik.github.io/aos/ */
/* https://cubic-bezier.com/#.17,.67,.83,.67 */