* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UNIDADES RELATIVAS */
/* ! EM (em) element */
/* EM  es relativa primero a su <etiqueta>, <contenedora>, <body>, <html> */
/* A la altura de la M mayuculas */

/* ! REM (rem) -> root element */
/* REM es relativa a la etiqueta root del documento <html> */
