@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset (Reinicia los estilos por defecto del navegador) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid crimson; */
}
/* Custom properties (Variables globales a toda la hoja de estilos) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties */
:root {
  --ciento-por-ciento: 100%;
  --color-fondo-base: #eee;
  --tamanio-base: 2em;
  --rosa-clarito: #e4a8b2;
}

/* etiqueta */
html {
  font-size: var(--ciento-por-ciento);
}

body {
  background-color: var(--color-fondo-base, red); /* var(varible, fallback) */
}

/* clase (.) */
.borde {
  border: 0.2rem solid blueviolet;
}

h1,
h2 {
  --tamanio-base: 3em; /* custom property es local (regla h1, h2) */
  font-size: var(--tamanio-base);
}
/* id (#) */
#seccion {
  background-color: #ba92e0;
  border: 0.25rem solid var(--rosa-clarito);
}

/* atributo [] */
[href] {
  text-decoration: none;
}

a[href="https://google.com.ar"] {
  background-color: var(--rosa-clarito);
}

[class] {
  background-color: #333;
  color: white;
}
/* Seleciona todos los elementos que comiencen con el valor del atributo href -> https */
[href^="https"] {
  background-color: olive;
}
/* Seleciona todos los elementos que comiencen con el valor del atributo href -> 5173 */
[href$="5173"] {
  background-color: blue;
  color: white;
}
/* Que contengan la cadena '.com.ar' en el atributo href */
[href*=".com.ar"] {
  color: darkorange;
}

/* Selectores | combinadores y separadores */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Selectors */

/* ! Selector descendiente directo (hijo directo) */

p > strong {
  color: greenyellow;
  background-color: black;
}

section#importante.seccion-roja > article {
  background-color: red;
  width: 80%;
  height: 6.25rem;
  border: 0.0625rem solid black;
  margin: 0.3125rem;
}

section#importante.seccion-roja > article.destacado {
  background-color: blueviolet;
}

/* ! Selector de hermano adyacentes + */
/* el span que está al lado del p */
p + span {
  font-weight: bolder;
  color: darkgreen;
}

span + h5 {
  color: palevioletred;
}

/* ! Selector de hermanos general ~ */
/* alt + 126 -> virgulilla */
p.parrafito ~ h5 {
  color: orange;
}

/* ! selector de hijo */
/* Me permite selecionar a todos los hijos que esten dentro del padre */

/* todos los h6 que estén dentro del div */
div.selector-hijo h6 {
  background-color: blueviolet;
}

/* etiquetas 0 0 0 1 */
/* clases    0 0 1 0 */
/* id        0 1 0 0 */
/* linea     1 0 0 0 */

/* Cascada y Especificidad */
/* https://specificity.keegan.st/ */
/* .color-dorado.subrayado {
  color: darkorange;
}

h1 {
  color: green;
}

h1 {
  color: blue;
}

h1 {
  color: pink;
  color: red;
  margin: 20px;
  margin-top: 10px;
}

h1.color-dorado {
  color: gold;
}

.color-dorado {
  color: darkgoldenrod;
}

.subrayado {
  text-decoration: underline;
} */

/* h1.color-dorado.subrayado {
  text-decoration: none;
  color: blue;
}

h2 {
  color: red;
}

h2 {
  color: green;
}

section h2 {
  color: blue;
}

div section h2 {
  color: darkblue;
} */

/* NO USAR IMPORTANT */
/* h2 {
  color: crimson !important;
}

section h2 {
  color: chartreuse !important;
} */
