/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
  border: 3px solid #aaa;
  background-color: #f5f5f5;
  width: 70%;
  height: 12.5rem;
  margin: 6.25rem auto;
  text-align: center;
  color: white;
  border-radius: .625rem; /* brs */
  padding-top: 1.25rem;
}

.box--1 {
  background-color: #4161aa;
  /* box-shadow -> Le agrego una sobra a la caja */
  /*          horizontal-x vertical-y color */
  box-shadow: 20px 20px black;
}
.box--2 {
  background-color: #3b2681;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
}
.box--3 {
  background-color: #935240;
  /* box-shadow -> Le agrego una sobra a la caja */
  /*          horizontal-x vertical-y difumidado color  */
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
.box--4 {
  background-color: #fd9e25;
  box-shadow: -20px -20px 20px rgba(0, 0, 0, 0.5);
}
.box--5 {
  background-color: #4c1afd;
  /*          horizontal-x vertical-y difumidado proyeccion(expansion/reducción) color  */
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.5);
}
.box--6 {
  background-color: #08571c;
  /*          horizontal-x vertical-y difumidado proyeccion(expansion/reducción) color  */
  box-shadow: 40px 40px 20px -50px rgba(0, 0, 0, 0.5);
}

.box--7 {
  background-color: #25a8a2;
  /* sombra interna */
  /* https://www.cssmatic.com/es/box-shadow */
  box-shadow: inset 10px 10px 5px 5px rgba(0, 0, 0, 0.5),
              20px 20px 10px 10px rgba(255, 0, 0, 0.501);

}
.box--8 {
  background-color: #12e2c0;
}
.box--9 {
  background-color: #f68d66;
}
.box--10 {
  background-color: #637896;
}