@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset (Reinicia los estilos por defecto del navegador) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid crimson; */
}
/* Custom properties (Variables globales a toda la hoja de estilos) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties */
:root {
  --ciento-por-ciento: 100%;
  --color-fondo-base: #eee;
  --tamanio-base: 2em;
  --rosa-clarito: #e4a8b2;
}

/* etiqueta */
html {
  font-size: var(--ciento-por-ciento); /* 16px */
}

body {
  background-color: var(--color-fondo-base, red); /* var(varible, fallback) */
}

/* * Random Everything | helixquar.randomeverything */
/* * Increment Selection | albymor.increment-selection */
/* * cipchk.cssrem | px to rem & rpx & vw (cssrem) */

.box {
  background-color: purple;
  width: 12.5rem;
  height: 12.5rem;
  margin: .625rem;
  color: white;
  text-align: center;
  padding: 1.25rem;
  float: left; /* Propiedad antigua de css */
}

.box--1 {
  background-color: #2eb6d1;
  border-radius: 1.25rem; /* shorthand */
}
.box--2 {
  background-color: #1a6388;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
}
.box--3 {
  background-color: #a7eec3;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 35px;
}
.box--4 {
  background-color: #809293;
  /* igual que con margin/padding pero rotado hacia la izquierda 45 grados. */
  /* Sentido horario sería -> ar-izq -> ar-der -> ab-der -> ab-izq */
  /*             ar-izq ar-der ab-der ab-izq */
  border-radius: 20px 15px 35px 5px; /* shorthand */
}
.box--5 {
  background-color: #10fbe7;
  /* ciculo */
  border-radius: 50%;
  /* border-radius: 100px; */

}
.box--6 {
  background-color: #b705dc;
  /* border-radius: 25px; */
  /* border-radius: 25px / 25px; */
  /*             all-x  / all-y */
  border-radius: 100px / 30px;
}
.box--7 {
  background-color: #8a6f05;
}
.box--8 {
  background-color: #7c3936;
}
.box--9 {
  background-color: #b0aaa9;
}
.box--10 {
  background-color: #b80786;
}
