@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset (Reinicia los estilos por defecto del navegador) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid crimson; */
}
/* Custom properties (Variables globales a toda la hoja de estilos) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties */
:root {
  --ciento-por-ciento: 100%;
  --color-fondo-base: #eee;
  --tamanio-base: 2em;
  --rosa-clarito: #e4a8b2;
}

/* etiqueta */
html {
  font-size: var(--ciento-por-ciento); /* 16px */
}

body {
  background-color: var(--color-fondo-base, red); /* var(varible, fallback) */
}

/* Para aplicar CSS GRID tengo que hacerlo sobre el padre (como flexbox) */
.contenedor {
  display: grid;
  margin: 2rem; /* 32px */
  background-color: #ffeadd;

  /* ? GRILLAS EXPLICITAS */
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);

  /* ? GRILLAS IMPLICITAS (GRILLAS QUE SE CREAN AUTOMATICAMENTE) */
  grid-auto-rows: 2fr 1fr 3fr;
  grid-auto-columns: 5fr;

  gap: 0.5rem;

  /* * content (toda la grilla) */
  /* * items (cada celda) */
  /* ! manejo horizontal */
  justify-content: center; /* start (default) | end | center |  space-between |space-around | space-evenly */
  justify-items: stretch; /* stretch (default) | start | end | center */

  /* ! manejo vertical */
  align-content: center; /* start (default) | end | center |  space-between |space-around | space-evenly */
  align-items: stretch; /* stretch (default) | start | end | center */

  height: 600px; /* no se le pone alto a la grilla */
}

/* https://cssgridgarden.com/#es */

.elemento {
  background-color: #ff6666;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   flex-wrap: wrap;
  align-content: center; */
  /* margin-right: 10px; */ /* ! NO */
}

.elm1,
.elm2,
.elm3,
.elm4,
.elm5,
.elm6,
.elm7,
.elm8 {
  width: 5rem;
  height: 5rem;
}

.elm1 {
  justify-self: start;
  align-self: start;
}

.elm2 {
  justify-self: end;
  align-self: end;
}

.elm3 {
  justify-self: center;
  align-self: center;
}

.elm4 {
  /* horizontal */
  justify-self: center;
  /* vertical */
  align-self: end;
}

.elm5 {
  /* horizontal */
  justify-self: start;
  /* vertical */
  align-self: center;
}
